<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
    
        <div id="app">
            <ol>
                <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id">
               </todo-item>
            </ol>
        </div>

        <div id="input">
            <p>{{message}}</p>
            <input v-model="message"></input>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        
        <div id="time">
           <p> The time is <span>{{ timestamp }}</span> </p>
            
        </div>

        <!-- example for list and index -->
        <ul id="example-1">
            <li v-for="(item , index ) in items">
              {{index}} - {{ item.message }}
            </li>
          </ul>

          <div id="components-demo" class="all-one">
            <button-counter></button-counter>
            <button-counter></button-counter>
            <button-counter></button-counter>
            <blog-post title='Bijay'></blog-post>
          </div>
          <div id="two-test" class="all-one"> 
              <blog-post 
              v-for="post in posts"
              v-bind:key="post.id"
              v-bind:title="post.title"
            ></blog-post>
          </div>

        <script src="index.js"></script>
    </body>
</html>