html, body {
    margin: 5px;
    padding: 0;
    /* background: yellow; */
}

div#input button{
    background:red;
    width:max-content;
    height:25px;
    border-radius: 8px;
    border:none;
}

div#input button:hover{
    background:white;
    border:1px solid lightblue;
    color:lightblue;
    transition: 0.4s;
    cursor: pointer;
}
div#time p span{
    border: 1px solid red;
}
/* body > div {
    margin:auto;
    width:max-content;
} */
#components-demo {
    display: inline-grid;
}
#components-demo button{
    width:100px;
    height:40px;
    border-radius:8px;
    border:none;
    margin-top:20px;
}